<div class="container">

  <h2>Thank you for your order!</h2>
  <h2>Your order has been placed and your confirmation number is <% n = (1..789098).to_a %>
                                                                 <%= n.sample  %></h2>

  <h2>Your can expect your beer to be at your house and in your mouth in 5-7 business days. Cheers!</h2>

</div>
