body {
  background-color: #F4F4F9;
}

.navbar-inverse .navbar-brand {
  color: #04724D;
}

.navbar-inverse .navbar-nav > li > a {
  color: #04724D;
}


.header .jumbotron {
  background-color: #B8DBD9;
}

.header {
  display: inline-block;
  height: 100px;
  width: 100%;
  background-color: rgba(114, 127, 171, 0.6)
}
.header h1 {
  display: inline-block;
}

.header h3 {
  display: inline-block;
  text-decoration: none;
}

.header h4 {
  display: inline-block;
  text-decoration: none;
}

.header a {
  text-decoration: none;
}

.header .links {
  display: inline-block;
  float: right;
}

li {
  list-style: none;
}

.thumbnail h2{
  text-align: center;
}



.product img {
  width: 100%;
}

.product {
  margin: 0 0 20px 0;
}

.cart_total {
  color: rgb(235, 16, 193);
  font-size: 22px;
}
